*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

body div{
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    background-color: #fff;
    animation: fadeIn 5s;
    transition: box-shadow 1s ease-in-out;
}
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
body div:hover{
    box-shadow: 0 0 20px #999;
}
body div h1, body div p{
    font-size: 24px;
    font-weight: 200;
    color: #666;
}
.view-button, .add-artist-button{
    display: inline-block;
    width: 45%;
    padding: 10px;
    margin-top: 5%;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 1s ease-in-out;
}
.view-button{
    background-color: #4caf50;
    color: #fff;
    margin-right: 10px;
}
.view-button:hover{
    background-color: #3e8e41;
    transform: scale(1.1);
    box-shadow: 0 0 10px #ccc;    
}
.add-artist-button {

    background-color: #e74c3c; 
    color: white;
    margin-left: 20px; 
    } 
.add-artist-button:hover{
    background-color: #c0392b;
    transform: scale(1.1);
    box-shadow: 0 0 10px #ccc;    
}